<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Boot-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--JQuery-->
    <!--<script src="../css%20+%20js/jQuery-3.7.1.min.js"></script>-->
    <!--CSS-->
    <link rel="stylesheet" href="/static/css/h4style.css">
    <!--JS-->
    <!--<script src="../css%20+%20js/final.js"></script>-->

</head>
<body>
<div class="results-cart">
    <h1>Your Cart: {Number of Items}</h1>
    <hr>
    <div>
        <h2>Your items:</h2>
        <br>
        <div class="container-xl padding overflow-hidden" id="results-in-cart">
            <div class="row">
                <!--Text & Button-->
                <div class="col-xl-6">
                    <h2 class="display-2"> Event Title </h2>
                    <h2 class="lead">Quantity of tickets </h2>
                    <h2 class="lead">Location: local <br> Adress: where </h2>
                    <h2 class="lead">When: day @ time </h2>
                </div>
                <!--Image-->
                <div class="col-xl-6">
                    <img src="" class="img-fluid image-style" alt="Pic">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>