<!--
Oliver Calandra
References: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Boot-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<!--CSS-->
 <link rel="stylesheet" href="{% static 'css/h4style.css' %}">

<body>

{#    <img src="/static/css/LogoTwo.png" id="logo" alt="logoImg">#}
            <img src="{% static "images/LogoTwo.png" %}"  height="200px" width="200px">


<div class="container-fluid" id="log-me">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
    <input type="text" name="Username" placeholder="Username" id="username" type="submit" value="username">
    <label for="username"></label>
    <input type="password" name="Password" placeholder="Password" id="password" type="submit" value="password">
    <label for="password"></label>
    <br>
    <a>Forgot Password</a>
    <button type= "submit" class="log-in" id="log-in-button"> Login</button>
         </form>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <button type= "submit" class="log-in" id="log-in-button"> Sign Up</button>
    </form>
</div>
</body>
</html>